<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/login" method="post">
      <label for="nickname">Nickname:</label>
      <input type="text" name="nickname" required />
      <label for="password">Password:</label>
      <input type="text" name="password" required />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
