<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <form action="/sign-up" method="post">
      <label for="firstName">First name:</label
      ><input type="text" name="first-name" /><label for="secondName"></label
      >second name:<input type="text" name="secondName" /><label
        for="nickname"
      ></label
      >nickname:<input type="text" name="nickname" /><label
        for="password"
      ></label
      ><input type="text" name="password" />
      <label for="message">Enter your message:</label>
      <textarea name="message" id="message"></textarea>
      <label for="secret">Secret code:</label>
      <input type="text" name="secret" />
    </form>
  </body>
</html>
