<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
  </head>
  <body class="w-1/3 mx-auto">
    <form
      action="/sign-up"
      method="post"
      class="w-3/4 flex flex-col items-center border-green-600 border p-5"
    >
      <label for="firstName">First name:</label
      ><input class="bg-gray" type="text" name="firstName" /><label
        for="secondName"
      ></label
      >second name:<input class="bg-gray" type="text" name="secondName" /><label
        for="nickname"
      ></label
      >nickname:<input
        class="bg-yellow-500"
        type="text"
        name="nickname"
      /><label for="password">Password:</label
      ><input class="bg-gray" type="text" name="password" />
      <label for="passwordConfirmation">Confirm password:</label
      ><input class="bg-gray" type="text" name="passwordConfirmation" />
      <label for="secret">Secret code:</label>
      <input class="bg-gray" type="text" name="secret" />
      <button type="submit" class="p-5 bg-blue-700">Submit</button>
    </form>
  </body>
</html>
